@font-face {
  font-family: 'Disket Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Disket-Mono-Regular.woff2') format('woff2'),
       url('./Disket-Mono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Disket Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Disket-Mono-Bold.woff2') format('woff2'),
       url('./Disket-Mono-Bold.ttf') format('truetype');
}